blib
log
cover_db
sandbox
examples/*
!examples/webfingerapp
!examples/webfingerapp-async
public
todo.org
create-cpan.pl
script*
MYMETA*
Makefile
pm_to_blib
t/WebFinger-live.t
t/WebFinger-live-async.t
*.tar.gz
*~
*.sqlite
*.log
*.db
*.old
.*
!.gitignore
